<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

    <script>
        function copyMarkdown() {
            const markdown = {{ page.content | jsonify
        }};
        navigator.clipboard.writeText(markdown);
      }
    </script>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">

            <a href="#" class="copy-md-link" onclick="copyMarkdown(); return false;">
                Markdown kopieren
            </a>

            <hr>

            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>